@model Game

<div class="col-lg-4">
    <img class="img-thumbnail" src="@Model.Img" alr="@Model.Name" />
    <h2>Игра: @Model.Name</h2>
    <p>Описание: @Model.Descroption</p>
    <p><a class="btn btn-warning" href="#">Подробнее</a></p>
</div>

